/*                                                          Telefonos     
===================================================================================================================================================================
===================================================================================================================================================================
================================================================Camadas=============================================================================================
==================================================================================================================================================================*/

/*                               MAX-WIDTH 412px                                                                  
======================================================================================================================================================================*/

@media screen and (max-width: 450px){

    .HeaderMainIzq-title h1{
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
    }

    .HeaderMainDer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }




    /*                       NAV                                     */

    .Menu-item a {
        text-align: center;
    }

    .Menu-item a:target {
        color: #f3b700;
        transition: all .3s;
        background-color: #df2935;
        border-radius: 10px;
        box-shadow: 5px 6px 8px #063a1f;
    }

    .ContenedorPadreCamada {
        margin: 3% 0;
        width: 80%;
    }

    .BackgroundColorLinkCamada {
        background-color: #0c8346;
        margin-top: 6%;
    }



}

@media screen and (max-width: 400px) {

    .HeaderMainIzq-title h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }

  


}


/*                                                               Max Width: 915px                                
===================================================================================================================================================================*/


@media screen and (min-width: 760px){
    .HeaderMainIzq-title h1 {
        font-size: 50px;
    }


}

@media screen and (min-width: 900px) {

    .HeaderMainDer {
        align-items: center;
    }
}

@media screen and (max-width: 950px) {
    .BackgroundColorLinkCamada {
        background-color: #0c8346;
        margin-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .BackgroundColorLinkCamada {
        background-color: #0c8346;
        margin-top: 8%;
    }
}

@media screen and (min-width: 900px) {

    .HeaderMainIzq-title h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
    }
    
}

/*                                                          Tablets     
===================================================================================================================================================================
===================================================================================================================================================================*/




@media screen and (min-width: 1000px) {

    .HeaderMainIzq-title h1 {
        font-size: 65px;
    }


}

@media screen and (min-width: 1200px) {
    .HeaderMainIzq-title h1 {
        font-size: 50px;
    }
}
