/*                                                          Telefonos     
===================================================================================================================================================================
===================================================================================================================================================================
================================================================Header=============================================================================================
==================================================================================================================================================================*/

/*                               MAX-WIDTH 412px                                                                  
======================================================================================================================================================================*/
@media screen and (max-width: 450px){

    .HeaderMainIzq-title h1 {
        font-size: 35px;
    }

    .HeaderMainDer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    /*                       NAV                                     */

    .Menu-item a {
        text-align: center;
    }

    .Menu-item a:target {
        color: #f3b700;
        transition: all .3s;
        background-color: #df2935;
        border-radius: 10px;
        box-shadow: 5px 6px 8px #063a1f;
    }

    /*                        Main-Index                    */

    .MainContainer {
        margin-bottom: 25px;
        width: 350px;
    }

    .MainContainer-txt h2 {
        text-align: center;
        padding-top: 15px;
    }

    .MainContainer-img img {
        max-width: 75%;
        height: 300px;
    }

}

@media screen and (max-width: 400px) {
    
      .HeaderMainIzq-title h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
}

/*                                                               Max Width: 915px                                
===================================================================================================================================================================*/

@media screen and (max-width: 950px) {

    /*                                   HEADER                                          */
    .HeaderMainDer {
        align-items: center;
    }


    /*                                  NAV                                               */



    
}

/*                                                          Tablets     
===================================================================================================================================================================
===================================================================================================================================================================*/

@media screen and (min-width: 760px) {
    .HeaderMainIzq-title h1{
        font-size: 50px;
    }
}

@media screen and (min-width: 1000px) {
    .MainContainer-img {
        padding: 2% 5%;
    }

    .HeaderMainIzq-title h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .MainContainer-img {
        padding: 2% 14%;
    }
}

/*                                                          Computadoras     
===================================================================================================================================================================
===================================================================================================================================================================*/

@media screen and (min-width: 1400px) {
    .HeaderMainIzq-title h1{
        font-size: 50px;
    }

    .MainContainer-txt {
        max-width: 90%;
    }

    .MainContainer-img {
        padding: 2% 10%;
    }
    
      .MainContainer-txt {
        max-width: 82%;
    }
}